
body{
    background-color: white;
}

h1 {
    text-align: center;
    color: white;
    font-family: 'oswald';
    font-size: 55px;
}

h2 {
    font-family: 'oswald';
    text-align: center;
    font-size: 30px;
    color: white;
}

p {
    font-family: 'oswald';
    font-size: 20px;
}
.header {
    background-color: rgb(104,41,72);
}

.header{
    display: block;
}


.collapsed{
   color: rgba(218, 224, 227, 1);

}

.card-header{
    background-color:rgb(104,41,72);
   
}

.card{
    background-color: rgba(218, 224, 227, 1);
    border-color: rgba(218, 224, 227, 1);
}

a{
    text-decoration: none;
    color: none;
}
a{
    text-decoration: none;
    color: white;
}
a:hover{
    text-decoration: none;
    color: rgba(218, 224, 227, 1);

}

.btn {
    margin-left: 38%;
    margin-top: -100px;  
    color: black;  
}

.button {
    background-color:rgb(104, 41, 72);
    border: none;
    color: white;
    text-align: center;
    padding: 8px 15px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    float: right;
    margin-top: -30px;
    margin-left: 210px;
    cursor: pointer;
    border-radius: 8px;
    transition-duration: 0.10s;
    outline: none;
}

.button:hover{
    background-color:rgb(221, 77, 77);
    color: white;
  }

.btn-secondary {
    color: white;  
}


#accordion{
    margin-top: 13%;
}

#probleem {
    margin-top: -15px;
}

strong {
    color: rgb(104,41,72);
}
